@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ben Daley";
    ViewData["Title2Pues"] = "Title2";
}

<!--
    Author - Ben Daley
    Class - IS 413
    Date - 06 Feb 2023
    Assignment - Mission 5
    Description - This app creates a basic website with personal info, a photo, and a grade calculator using MVC format
    -->

<nav>
    <a asp-controller="Blah" asp-action="Index">Home</a>
    <a asp-controller="Blah" asp-action="Grade">Grade Calculator</a>
</nav>

<!-- header w/ my name & picture of what I enjoy doing -->
<h1>Ben Daley</h1>
<img src="~/img/football.jpg" width="200" />

<!-- paragraph on what I hope to get out of the class -->
<h5>What I hope to get out of IS 413</h5>
<p>
    The main thing I am looking forward to in this course is becoming familiar with a strongly-typed language. I have become very
    accustomed to languages that are not as strict on variable types, code format, etc., so I'm excited to get to the point where
    I feel comfortable writing in a variety of languages. It's been cool to see how the basics & the logic are the same, it's simply
    the syntax that needs some adjusting. I'm also looking to becoming more familiar with git & the flexibility it provides while
    working in groups!
</p><br />

<!-- list of jobs I'm interested in after graduation -->
<h5>Top 3 Jobs I'm most interested in pursuing</h5>
<ol>
    <li>Product Manager</li>
    <li>Data Analyst</li>
    <li>Software Engineer</li>
</ol>


